<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>AvaliaUNB</title>

    <link href="{{ url_for('static', filename='bootstrap-5.3.0-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
              <div class="alert alert-{{category}} d-flex align-items-center max-width-sm" role="alert">
                <div>
                  {{message}}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


{% block main %}
{% endblock %}
</body>
</html>