{% extends 'base.html' %}

{% block main %}
<div class="container-md">

    <form method="post" action="{{url_for('register')}}">
        <div class="col mb-3">
      <label for="matricula" class="col-sm-2 col-form-label">Matrícula</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" name="matricula" id="matricula" required>
    </div>
    </div>

    <div class="col mb-3">
        <label for="avatar" class="col-sm-2 col-form-label">Avatar</label>
        <div class="col-sm-10">
          <input type="file" class="form-control" name="avatar" id="avatar" accept="image/png, image/jpeg">
        </div>
    </div>

    <div class="col mb-3">
        <label for="senha" class="col-sm-2 col-form-label">Senha</label>
      <div class="col-sm-10">
          <input type="password" class="form-control" name="senha" id="senha" required>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Fazer registro</button>
</form>
</div>

{% endblock %}